{
    "integrations" : {

        "Postgres" : {
            "production_url" : "postgres://amnh_user:abc@server.abc.com:5432/my_curator",
            "test_url" : "postgres://amnh_user:test@localhost:5432/my_curator_test"
        },

        "BHI" : {
            "username" : "amnh",
            "password" : "amnh@secret",
            "remote_stage" : "qa", 
            "url" : "https://api.abc.com/", 
            "basic_token" : "abc-dea-fgh-ijk-lmn" 
        }

    }
}



